In [19]:
import pandas as pd
import numpy as np

In [20]:
productos = pd.read_pickle('productos_limpia')
productos.shape

(48131, 12)

In [21]:
productos.head()

,PRODUCTO,CARGA,EXISTENCIA,DEVOLUCION,VENTA TOTAL,PRECIO * PRODUC,$,VENTA EN LT,RUTA,DIA,SEMANA,ANIO
0,PRODUCTO10,NaN,NaN,0,0,7.5,0,0,RUTA: SAN MARCOS,LUNES,4 AGOSTO,2017
1,Queso Hebra,NaN,NaN,0,0,60,0,0,RUTA: SAN MARCOS,LUNES,4 AGOSTO,2017
2,Queso fresco,NaN,0,0,0,12,0,0,RUTA: SAN MARCOS,LUNES,4 AGOSTO,2017
3,Queso añejo,NaN,0,0,0,55,0,0,RUTA: SAN MARCOS,LUNES,4 AGOSTO,2017
4,Queso panela,NaN,0,0,0,50,0,0,RUTA: SAN MARCOS,LUNES,4 AGOSTO,2017

In [22]:
# ¿Cuántas rutas de distribución diferentes identificaron cada año?
anios = ['2012', '2013', '2014', '2015', '2016', '2017', '2018']
for anio in anios:
    print(anio)
    rutas = []
    for ruta in productos.loc[productos['ANIO'] == anio]['RUTA']:
        if not ruta in rutas:
            rutas.append(ruta)
    print(rutas)

2012
[u'RUTA: FERMIN', u'RUTA: JESUS', u'RUTA: TRADICION', u'RUTA: JUGUERAS', u'RUTA: SAN MARCOS', 'RUTA: IVAN']
2013
[u'RUTA: FERMIN', 'RUTA: IVAN', u'RUTA: TRADICION', u'RUTA: JUGUERAS', u'RUTA: SAN MARCOS']
2014
[u'RUTA: SAN MARCOS', u'RUTA: FERMIN', 'RUTA: IVAN', u'RUTA: JUGUERAS']
2015
[u'RUTA: SAN MARCOS', u'RUTA: FERMIN', u'RUTA: JUGUERAS']
2016
[u'RUTA: SAN MARCOS', u'RUTA: JUGUERAS']
2017
[u'RUTA: SAN MARCOS', u'RUTA: FERMIN', u'RUTA: JUGUERAS', 'RUTA: MARTIN', u'RUTA: ERICK']
2018
[u'RUTA: SAN MARCOS', u'RUTA: FERMIN', 'RUTA: MARTIN', u'RUTA: JUGUERAS', u'RUTA: ERICK']

In [29]:
# ¿Qué días de la semana operan dichas rutas?
rutas = []
for ruta in productos['RUTA']:
    if not ruta in rutas:
        rutas.append(ruta)
for ruta in rutas:
    print(ruta)
    dias = []
    for dia in productos.loc[productos['RUTA'] == ruta]['DIA']:
        if not dia in dias and not pd.isnull(dia):
            dias.append(dia)
    print(dias)

RUTA: SAN MARCOS
['LUNES', 'MARTES', 'VIERNES', '2 ENERO', 'DOMINGO', 'MIERCOLES', 'JUEVES', 'SABADO']
RUTA: FERMIN
['2 ENERO', 'LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES', 'SABADO']
RUTA: JESUS
['2 ENERO', 'LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES']
RUTA: TRADICION
['2 ENERO', 'LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES', 'SABADO']
RUTA: JUGUERAS
['2 ENERO', 'LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES', 'SABADO']
RUTA: IVAN
['2 ENERO', 'MARTES', 'LUNES', 'JUEVES', 'VIERNES', 'MIERCOLES', 'SABADO']
RUTA: MARTIN
['SABADO', 'LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES']
RUTA: ERICK
['LUNES']