In [2]:
import pandas as pd
import numpy as np

In [5]:
productos = pd.read_pickle('productos_limpia')
productos.shape

(16470, 12)

In [6]:
productos.head()

,PRODUCTO,CARGA,EXISTENCIA,DEVOLUCION,VENTA TOTAL,PRECIO * PRODUC,$,VENTA EN LT,RUTA,DIA,SEMANA,ANIO
60,PRODUCTO10,NaN,NaN,0,0.0,7.5,0.0,0.0,RUTA: SAN MARCOS,LUNES,4 AGOSTO,2017
61,Queso Hebra,NaN,NaN,0,0.0,60,0.0,0.0,RUTA: SAN MARCOS,LUNES,4 AGOSTO,2017
62,Queso fresco,NaN,0,0,0.0,12,0.0,0.0,RUTA: SAN MARCOS,LUNES,4 AGOSTO,2017
63,Queso añejo,NaN,0,0,0.0,55,0.0,0.0,RUTA: SAN MARCOS,LUNES,4 AGOSTO,2017
64,Queso panela,NaN,0,0,0.0,50,0.0,0.0,RUTA: SAN MARCOS,LUNES,4 AGOSTO,2017

In [11]:
# ¿Cuántas rutas de distribución diferentes identificaron cada año?
anios = ['2012', '2013', '2014', '2015', '2016', '2017', '2018']
for anio in anios:
    print(anio)
    rutas = []
    for ruta in productos.loc[productos['ANIO'] == anio]['RUTA']:
        if not ruta in rutas:
            rutas.append(ruta)
    print(rutas)

2012
[u'RUTA: FERMIN', u'RUTA: JESUS', u'RUTA: TRADICION', u'RUTA: JUGUERAS', u'RUTA: SAN MARCOS', 'RUTA: IVAN']
2013
[u'RUTA: FERMIN', 'RUTA: IVAN', u'RUTA: TRADICION', u'RUTA: JUGUERAS', u'RUTA: SAN MARCOS']
2014
[u'RUTA: SAN MARCOS', u'RUTA: FERMIN']
2015
[u'RUTA: SAN MARCOS']
2016
[u'RUTA: SAN MARCOS']
2017
[u'RUTA: SAN MARCOS']
2018
[u'RUTA: SAN MARCOS']

In [13]:
productos.loc[productos['ANIO'] == '2018']['RUTA']

56839    RUTA: SAN MARCOS
56840    RUTA: SAN MARCOS
56841    RUTA: SAN MARCOS
56842    RUTA: SAN MARCOS
56843    RUTA: SAN MARCOS
56844    RUTA: SAN MARCOS
56846    RUTA: SAN MARCOS
56847    RUTA: SAN MARCOS
56848    RUTA: SAN MARCOS
56849    RUTA: SAN MARCOS
56850    RUTA: SAN MARCOS
56899    RUTA: SAN MARCOS
56900    RUTA: SAN MARCOS
56901    RUTA: SAN MARCOS
56902    RUTA: SAN MARCOS
56903    RUTA: SAN MARCOS
56904    RUTA: SAN MARCOS
56906    RUTA: SAN MARCOS
56907    RUTA: SAN MARCOS
56908    RUTA: SAN MARCOS
56909    RUTA: SAN MARCOS
56910    RUTA: SAN MARCOS
57055    RUTA: SAN MARCOS
57056    RUTA: SAN MARCOS
57057    RUTA: SAN MARCOS
57058    RUTA: SAN MARCOS
57059    RUTA: SAN MARCOS
57060    RUTA: SAN MARCOS
57062    RUTA: SAN MARCOS
57063    RUTA: SAN MARCOS
               ...
67642    RUTA: SAN MARCOS
67643    RUTA: SAN MARCOS
67644    RUTA: SAN MARCOS
67646    RUTA: SAN MARCOS
67647    RUTA: SAN MARCOS
67648    RUTA: SAN MARCOS
67649    RUTA: SAN MARCOS
67650    RUTA: SAN MARCOS
67879    RUTA: SAN MARCOS
67880    RUTA: SAN MARCOS
67881    RUTA: SAN MARCOS
67882    RUTA: SAN MARCOS
67883    RUTA: SAN MARCOS
67884    RUTA: SAN MARCOS
67886    RUTA: SAN MARCOS
67887    RUTA: SAN MARCOS
67888    RUTA: SAN MARCOS
67889    RUTA: SAN MARCOS
67890    RUTA: SAN MARCOS
67927    RUTA: SAN MARCOS
67928    RUTA: SAN MARCOS
67929    RUTA: SAN MARCOS
67930    RUTA: SAN MARCOS
67931    RUTA: SAN MARCOS
67932    RUTA: SAN MARCOS
67934    RUTA: SAN MARCOS
67935    RUTA: SAN MARCOS
67936    RUTA: SAN MARCOS
67937    RUTA: SAN MARCOS
67938    RUTA: SAN MARCOS
Name: RUTA, Length: 1001, dtype: object